h2{
    text-align: center;
    text-shadow: 5px 5px 5px;
    background-color: antiquewhite;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 247, 247);
    height: 80%;
    width: 80%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}